/* Common Theme Colors */
.highlight .comment,
.highlight .quote,
.highlight .variable,
.dark-theme .highlight .comment,
.dark-theme .highlight .quote,
.dark-theme .highlight .variable {
  color: #f3b95f;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .built_in,
.highlight .name,
.highlight .tag,
.dark-theme .highlight .keyword,
.dark-theme .highlight .selector-tag,
.dark-theme .highlight .built_in,
.dark-theme .highlight .name,
.dark-theme .highlight .tag {
  color: #2d96bd;
}
.highlight .string,
.highlight .title,
.highlight .section,
.highlight .attribute,
.highlight .literal,
.highlight .template-tag,
.highlight .template-variable,
.highlight .type,
.highlight .addition,
.dark-theme .highlight .string,
.dark-theme .highlight .title,
.dark-theme .highlight .section,
.dark-theme .highlight .attribute,
.dark-theme .highlight .literal,
.dark-theme .highlight .template-tag,
.dark-theme .highlight .template-variable,
.dark-theme .highlight .type,
.dark-theme .highlight .addition {
  color: #d04848;
}
.highlight .deletion,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .meta,
.dark-theme .highlight .deletion,
.dark-theme .highlight .selector-attr,
.dark-theme .highlight .selector-pseudo,
.dark-theme .highlight .meta {
  color: #fde767;
}
.highlight .doctag,
.dark-theme .highlight .doctag {
  color: #808080;
}
.highlight .attr,
.dark-theme .highlight .attr {
  color: #d04848;
}
.highlight .symbol,
.highlight .bullet,
.highlight .link,
.dark-theme .highlight .symbol,
.dark-theme .highlight .bullet,
.dark-theme .highlight .link {
  color: #2d96bd;
}
.highlight .emphasis,
.dark-theme .highlight .emphasis {
  font-style: italic;
}
.highlight .strong,
.dark-theme .highlight .strong {
  font-weight: bold;
}
.post-content blockquote {
  display: none !important;
}
.driven-by {
  font-size: 0.75rem;
  display: inline;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
}
.dark-theme {
  background-color: #292a2d;
  color: #a9a9b3;
}
.copyright {
  font-size: 12px !important;
}
