body.dark-theme .post-title {
  color: #a9a9b2;
}
body.dark-theme .post-content {
  color: #a9a9b2;
}
body.dark-theme #footer {
  color: #a9a9b2 !important;
}
.back-top-large {
  display: none;
}
@media (min-width: 1281px) {
  .back-top-small {
    display: none;
  }
  .back-top-large {
    display: block;
  }
}
@media (max-width: 1024px) {
  .search {
    display: none !important;
  }
}
