.dark-theme .post-content,
body.dark-theme .post-title {
  color: #a9a9b2;
}
body.dark-theme .post-content {
  color: #a9a9b2;
}
body.dark-theme #footer {
  color: #a9a9b2 !important;
}
.back-top-large {
  display: none;
}
@media (min-width: 1281px) {
  .back-top-small {
    display: none;
  }
  .back-top-large {
    display: block;
  }
}
@media (max-width: 800px) {
  .search {
    display: none !important;
  }
}
body::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.dark-theme .post-content code {
  color: #728fcb;
}
code[class*="language-"],
pre[class*="language-"] {
  background: transparent !important;
}
