.friend-link {
  margin-bottom: 10px;
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.friend-link a {
  text-decoration: none;
  color: #777;
}
.friend-link a:hover {
  color: #777;
}
.friend-name {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}
.friend-name:hover {
  background-color: #f0f0f0;
}
