/* mobile phone and smart portable devices */
@media screen and (max-width: 479px) {
  .main {
    padding-top: 40pt;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.6s ease 0s;
  }
  .navbar-mobile .container {
    padding: 0;
    margin: 0;
    line-height: 5.5em;
    background: $light-background-color;
  }
  .navbar-mobile .container .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    position: relative;
  }
  .navbar-mobile .container .navbar-header .menu-toggle {
    cursor: pointer;
    line-height: 5.5em;
    padding: auto 2em;
  }
  .navbar-mobile .container .navbar-header .menu-toggle span {
    display: block;
    background: #000;
    width: 36px;
    height: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.25s margin 0.25s, 0.25s transform;
    -moz-transition: 0.25s margin 0.25s, 0.25s transform;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .dark-theme .navbar-mobile .container .navbar-header .menu-toggle span {
    background: $dark-font-color;
  }
  .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(1) {
    margin-bottom: 8px;
  }
  .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(3) {
    margin-top: 8px;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span {
    -webkit-transition: 0.25s margin, 0.25s transform 0.25s;
    -moz-transition: 0.25s margin, 0.25s transform 0.25s;
    transition: 0.25s margin, 0.25s transform 0.25s;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(1) {
    -moz-transform: rotate(45deg) translate(4px, 6px);
    -ms-transform: rotate(45deg) translate(4px, 6px);
    -webkit-transform: rotate(45deg) translate(4px, 6px);
    transform: rotate(45deg) translate(4px, 6px);
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(3) {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }
  .navbar-mobile .container .menu {
    text-align: center;
    background: #fff;
    border-top: 1px solid #000;
    padding-top: 1em;
    padding-bottom: 1em;
    display: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1);
  }
  .navbar-mobile .container .menu a {
    display: inline-block;
    margin: 0 1em;
    line-height: 2.5em;
  }
  .navbar-mobile .container .menu.active {
    display: block;
    white-space: nowrap;
    box-sizing: border-box;
    overflow-x: auto;
  }
  .dark-theme .navbar-mobile .container .menu {
    background: $dark-background-color;
    border-top: 2px solid $dark-font-secondary-color;
  }
  .dark-theme .navbar-mobile .container {
    background: $dark-background-color !important;
  }
  .archive {
    width: 90%;
  }
  .archive .archive-item .archive-item-date {
    display: none;
  }
  #dynamic-to-top {
    display: none !important;
  }
  .footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 2em;
  }
  .post-warp {
    padding-top: 6em;
  }
  .post-warp .archive-item-date {
    display: none;
  }
  .categories .categories-card .card-item {
    width: 100%;
    display: flex;
    min-height: 0;
  }
  .categories .categories-card .card-item .categories {
    overflow: hidden;
  }
}
/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1023px) {
  .navbar-mobile {
    display: none;
  }
}
/* Desktops and laptops ----------- */
@media screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }
}
/* 在封面页减小标题栏、nickname、description、copyright的字体大小 */
@media (max-width: 299px) {
  .wrapper header .navbar-header,
  .wrapper header .navbar-header a,
  .menu-toggle {
    font-size: 12px !important;
  }
  .wrapper footer .copyright,
  .wrapper footer .copyright * {
    font-size: 10px !important;
  }
  .wrapper .nickname {
    font-size: 20px !important;
  }
  .wrapper .description {
    font-size: 12px !important;
  }
}
/* 在其他页面减小标题栏、copyright的字体大小 */
@media (max-width: 299px) {
  body:not(.wrapper) .navbar-header,
  body:not(.wrapper) .navbar-header * {
    font-size: 12px !important;
  }
  body:not(.wrapper) footer .copyright，,
  body:not(.wrapper) footer .copyright * {
    font-size: 10px !important;
  }
}
@media (max-width: 299px) {
  .menu.active .menu-item {
    font-size: 12px !important;
  }
}
@media (max-width: 299px) {
  .post-wrap {
    padding-top: 2rem;
    width: 80%; /* 调整内容宽度 */
    overflow: hidden; /* 防止内容溢出容器 */
  }
}
@media (max-width: 299px) {
  .archive-item-link {
    display: block; /* 确保链接作为块级元素显示 */
    overflow: hidden; /* 隐藏溢出的文本 */
    white-space: nowrap; /* 防止文本换行 */
    text-overflow: ellipsis; /* 将溢出的文本显示为省略号 */
    width: 100%; /* 确保链接元素占据全部可用宽度 */
  }
}
@media (max-width: 299px) {
  li {
    width: 100% !important;
  }
}
@media (max-width: 299px) {
  .post-wrap .post-title {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 479px) {
  .navbar-mobile .menu {
    position: absolute;
    top: 75px; /* 调整这个值，使菜单栏下移 */
    left: 0;
    width: 100%;
    background-color: #fff; /* 或其他颜色 */
    z-index: 2; /* 确保在其他元素之上 */
    display: none; /* 默认隐藏 */
  }
  .navbar-mobile .menu.active {
    display: block; /* 当菜单激活时显示 */
  }
  .navbar-mobile .navbar-header,
  .navbar-mobile .menu-toggle {
    z-index: 1; /* 确保在菜单之下 */
  }
}
@media screen and (min-width: 1280px) {
  .js-toc {
    position: fixed;
    top: 140px; /* 距离顶部的距离，可以根据需要调整 */
    right: 2em; /* 距离右侧的距离，可以根据需要调整 */
    width: 13rem; /* 目录的宽度，可以根据需要调整 */
    font-size: 0.75rem;
    overflow-y: auto !important; /* 如果目录很长，这将添加滚动条 */
    max-height: 300px; /* 最大高度，可以根据需要调整 */
    background-color: transparent; /* 背景颜色，可以根据需要调整 */
    z-index: 1000; /* 确保目录显示在其他元素之上 */
  }
}
.js-toc .tocbot-list {
  max-height: 450px;
  max-width: 250px;
  overflow: auto;
  position: relative;
  padding-right: 0.875rem;
}
.js-toc .tocbot-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.js-toc .tocbot-list::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #eee;
  border-radius: 2px;
}
.js-toc .tocbot-list ul {
  list-style: none;
  position: inherit;
  overflow: hidden;
}
.js-toc .tocbot-list ul li {
  margin-left: 0.25rem;
}
.js-toc .toc-link::before {
  background-color: #fff;
}
.js-toc .is-active-link::before {
  background-color: #2d96bd;
}
.js-toc .tocbot-list-menu {
  margin: 1rem 0.75rem;
  font-size: 0.75rem;
}
.js-toc .tocbot-list-menu a {
  display: block;
  margin: 0.375rem 0;
  color: #999;
  cursor: pointer;
}
.js-toc .tocbot-list-menu a:hover {
  color: #808080;
}
.toc {
  overflow-y: auto;
}
.toc>.toc-list {
  overflow: hidden;
  position: relative;
}
.toc>.toc-list li {
  list-style: none;
}
.toc-list {
  margin: 0;
  padding-left: 10px;
}
a.toc-link {
  color: currentColor;
  height: 100%;
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
}
.is-position-fixed {
  position: fixed !important;
  top: 0;
}
.is-active-link {
  font-weight: 700;
}
.toc-link::before {
  background-color: #eee;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}
.is-active-link::before {
  background-color: #54bc4b;
}
/* 去掉目录前面的数字 */
.toc-list li {
  list-style-type: none; /* 设置列表样式类型为 none */
}
/* 当屏幕宽度小于或等于 1279px 时应用这些样式 */
@media screen and (max-width: 1279px) {
  #tocButton {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 6.5vw;
    z-index: 1001; /* 确保 tocButton 在 js-toc 上面 */
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
  }
  .js-toc {
    position: fixed;
    top: 50%; /* 将元素的顶部边缘定位到屏幕的垂直中央 */
    left: 50%; /* 将元素的左边缘定位到屏幕的水平中央 */
    transform: translate(-50%, -50%); /* 微调位置，确保元素的中心位于屏幕的中央 */
    z-index: 1000;
    background-color: #fff !important;
    border-radius: 5px;
    padding: 10px;
    display: none;
    max-width: 85vw; /* 设置最大宽度为视口宽度的 70% */
    min-width: 60vw;
    max-height: 70vh; /* 设置最大高度为视口高度的 70% */
    overflow-y: auto !important; /* 如果内容超出最大高度或宽度，添加滚动条 */
  }
  body.dark-theme .js-toc {
    background-color: #292a2d !important;
  }
}
@media screen and (min-width: 1280px) {
  #tocButton {
    display: none !important;
  }
}
li.toc-list-item {
  margin-bottom: 0.5rem !important;
}
/* 针对 Chrome、Edge 和 Safari */
.js-toc::-webkit-scrollbar {
  display: none;
}
/* 针对 IE 和 Edge */
.js-toc {
  -ms-overflow-style: none;
}
/* 针对 Firefox */
.js-toc {
  scrollbar-width: none;
}
