<%- partial('_page/post', {post: page, index: false}) %>

    <div class="js-toc"></div>
    <div class="post-content"> <!-- 这里的class需要根据自身情况修改 -->
        <!-- 博客文章内容将在这里渲染 -->
    </div>
    <!-- recommended posts -->