/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.highlight
    display: block
    overflow-x: auto
    padding: 0.5em
    background: transparent
    color: #161209
    .code
        .comment,
        .quote,
        .variable
            color: #5499c7

        .keyword,
        .selector-tag,
        .built_in,
        .name,
        .tag
            color: #3498db

        .string,
        .title,
        .section,
        .attribute,
        .literal,
        .template-tag,
        .template-variable,
        .type,
        .addition
            color: #e74c3c

        .deletion,
        .selector-attr,
        .selector-pseudo,
        .meta
            color: #2980b9

        .doctag
            color: #95a5a6

        .attr
            color: #e67e22

        .symbol,
        .bullet,
        .link
            color: #1abc9c


        .emphasis
            font-style: italic

        .strong
            font-weight: bold

.dark-theme .highlight
    color: #a9a9b3
    .code
        .comment,
        .quote,
        .variable
            color: #5499c7

        .keyword,
        .selector-tag,
        .built_in,
        .name,
        .tag
            color: #3498db

        .string,
        .title,
        .section,
        .attribute,
        .literal,
        .template-tag,
        .template-variable,
        .type,
        .addition
            color: #e74c3c

        .deletion,
        .selector-attr,
        .selector-pseudo,
        .meta
            color: #2980b9

        .doctag
            color: #95a5a6

        .attr
            color: #e67e22

        .symbol,
        .bullet,
        .link
            color: #1abc9c


        .emphasis
            font-style: italic

        .strong
            font-weight: bold
