/* APlayer 全站样式 */
body .aplayer-body,
body .aplayer-info,
body .aplayer-notice,
body .aplayer-list {
    background-color: #ffffff;
}

body.dark-theme .aplayer-body,
body.dark-theme .aplayer-info,
body.dark-theme .aplayer-notice,
body.dark-theme .aplayer-list {
    background-color: #292a2d;
}

body.dark-theme .aplayer .aplayer-list .aplayer-list-light {
    background-color: #505254 !important;
}

body.dark-theme .aplayer .aplayer-list ol li:hover {
    background: #414345;
}

body.dark-theme .aplayer .aplayer-list ol li {
    border-top: 1px solid #414345;
}

body.dark-theme .aplayer-lrc::before,
body.dark-theme .aplayer-lrc::after {
    background: linear-gradient(to bottom, #292a2d, #292a2d);
}

body.dark-theme .aplayer-list-cur {
    background-color: #aaaaaa !important;
}

body.dark-theme .aplayer .aplayer-icon:hover path {
    fill: #eeeeee !important;
}

body.dark-theme .aplayer-info {
    border-bottom: none !important;
}

body.dark-theme .aplayer {
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.2), 0 3px 10px 0 rgba(170, 170, 170, 0.19) !important;
}