<% if(config.search && config.search.enable ) { %>
    <div class="search ">
        <div class="search-btn" onClick="searchToggle()">
            <svg t="1703126001771" class="search-btn-img" viewBox="0 0 1024 1024" version="1.1"
                xmlns="http://www.w3.org/2000/svg" p-id="4319" width="200" height="200">
                <path
                    d="M1004.8 915.2l-243.2-243.2c0 0-6.4-6.4-6.4-6.4C800 595.2 832 505.6 832 416 832 185.6 646.4 0 416 0S0 185.6 0 416 185.6 832 416 832c89.6 0 179.2-32 243.2-83.2 0 6.4 6.4 6.4 6.4 6.4l243.2 243.2c25.6 25.6 70.4 25.6 96 6.4C1030.4 979.2 1030.4 940.8 1004.8 915.2zM64 416C64 224 224 64 416 64S768 224 768 416 608 768 416 768 64 608 64 416z"
                    fill="#161209" p-id="4320"></path>
            </svg>
        </div>
        <form class="form-search">
            <input class="input" placeholder="点此搜索" autocomplete="off" id="<%= name %>-search-input" />
        </form>
    </div>
    <% } %>

        <style>
            body.dark-theme .search-btn-img path {
                fill: #a9a9b3;
                /* 淡灰色 */
            }
        </style>