.primary-link-container
  margin-top: 10px

.primary-link
  padding: 5px 10px
  border: 1px solid #ccc
  border-radius: 5px
  color: #777
  text-decoration: none
  transition: background-color 0.3s
  margin-right: 10px
  margin-bottom: 10px
  display: inline-block

.primary-link:hover
  background-color: #f0f0f0

.dark-theme .primary-link
  color: white
  border: 1px solid #777

.dark-theme .primary-link:hover
  background-color: #414345

.pink
  color: #2d96bd

.pink:hover
  color: #ef3982 !important

.dark-theme .pink
  color: white

.dark-theme .pink:hover
  color: white !important
  border-bottom: 1px solid #ffffff