<div class="container">
    <div class="post-wrap">
        <div id="about-content">
            <h1 class="post-title">
                <%= page.title %>
            </h1>
            <h2>自我介绍</h2>
            <p>女大学生（？），长期坚持的爱好基本上只有听音乐和折腾电子设备（最近增加了用ChatGPT写代码）。喜欢摇滚乐和爵士乐，很偶尔听古典。虽然没有什么电脑知识，但很爱折腾，喜欢下载各种新奇的小工具偷偷把玩。热衷于购物。虽然已经博五，但毕业论文一笔未动，正在思考该写什么。延毕预定。
            </p>
            <p>站名“Green Dolphin Dance”来源于爵士标准曲“On Green Dolphin Street”和“Dolphin Dance”。</p>
            <div class="friend-link">
                <a href="https://greendolphindance.com" class="friend-name" target="_blank">主站</a>
                <a href="https://greendolphindance-github-io.vercel.app" class="friend-name" target="_blank">备用站点</a>
            </div>
            <p>联系我：<a href="mailto:greendolphindance@outlook.com" class="pink">greendolphindance@outlook.com</a>。</p>
            <p>屏幕左下方是一个歌单。感谢<a href="https://music.163.com/#/artist?id=35945528" class="pink">竹子</a>和<a
                    href="https://music.163.com/#/artist?id=34327004" class="pink">Mon</a>贡献他们的作品！</p>

            <div id="recent-activities">
                <h2>最近在</h2>
                <ul>
                    <li>写手帐</li>
                    <li>猛猛攀岩</li>
                    <li>翻译《Life and Action》引言</li>
                    <li>听CD和磁带</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css">

<style>
    .friend-link {
        color: #777 !important;
    }

    .friend-link a:hover {
        color: #777;
    }

    .pink {
        color: #2d96bd;
    }

    .pink:hover {
        color: #ef3982 !important;
    }

    .dark-theme .pink {
        color: white;
    }

    .dark-theme .pink:hover {
        color: white !important;
        border-bottom: 1px solid #ffffff;
        /* 鼠标悬停时，在链接下方添加下划线 */
    }

    /* Light mode styles (default) */
    body {
        background-color: #ffffff;
        color: #000000;
    }

    /* Dark mode styles */
    body.dark-theme {
        background-color: #292a2d;
        color: #a9a9b3;
    }

    /* APlayer styles for light mode */
    body .aplayer-body,
    body .aplayer-info,
    body .aplayer-notice,
    body .aplayer-list {
        background-color: #ffffff;
    }

    /* APlayer styles for dark mode */
    body.dark-theme .aplayer-body,
    body.dark-theme .aplayer-info,
    body.dark-theme .aplayer-notice,
    body.dark-theme .aplayer-list {
        background-color: #292a2d;

    }

    body.dark-theme .aplayer .aplayer-list .aplayer-list-light {
        background-color: #505254 !important;
    }

    body.dark-theme .aplayer .aplayer-list ol li:hover {
        background: #414345;
        /* 或者你想要的其他颜色 */
    }

    body.dark-theme .aplayer .aplayer-list ol li {
        border-top: 1px solid #414345;
        /* 或者你想要的其他颜色 */
    }

    body.dark-theme .aplayer-lrc::before,
    body.dark-theme .aplayer-lrc::after {
        background: linear-gradient(to bottom, #292a2d, #292a2d);
        /* 使用和背景相同的颜色 */
    }

    body.dark-theme .aplayer-list-cur {
        background-color: #aaaaaa !important;
    }

    body.dark-theme .aplayer .aplayer-icon:hover path {
        fill: #eeeeee !important;
    }

    body.dark-theme .aplayer-info {
        border-bottom: none !important;
    }

    body.dark-theme .aplayer {
        box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.2), 0 3px 10px 0 rgba(170, 170, 170, 0.19) !important;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js"></script>